<%= form_for :question, url: questions_path do |f| %>
  <div class="submit_question_bilog"  >
    
    <div id="submit_question_title">
      <strong>STS</strong> Submit a Question
    </div>
          
    <hr>
    
    <p>Enter Question Here:<br><%= f.text_area :question_body %></p>
    
    <p>
      <%= link_to 'Cancel', homie_path , class: 'btn btn-info btn-lg'%>  
      <%= f.submit  'Submit', class: 'btn btn-warning btn-lg' %>
    </p>

  </div>

<% end %>

<%#= render 'choices/form' %>