<div class = "page_margins">
	<div class = "choices_box">
		<div id="submit_question_title">
      		<strong>STS</strong> Submit a Question
    	</div>

    	<hr>
    	Question:<br>
		&nbsp; &nbsp; <%= @question.question_body %>

		<%= render 'choices/form' %>

		<%= render 'choices/choice' %>
	</div>
</div>


<%# (0..9).each do |i| %>
	<%#= Question.find(@randquestion[i]).question_body %><br>
<%# end %>
