
<% index = 0 %>
<% (1..10).each do |i| %>
  <% if @question.id == @session.questionIDs[i-1] %>
    <% index = i %>
  <% end %>
<% end %>

<%= @question.question_body %>
<br>
<% unless @question.answer.nil? %>
  <%= form_tag({controller: 'answers', action: 'update'}, method: :patch) do %>
    <% if @question.answer.pick == 1 %>
      <%= radio_button_tag("question_#{@question.id.to_s}", "1", checked: :checked) %>
      <%= label_tag(:BracketA, @choice.BrA) %>
      <br>
      <%= radio_button_tag("question_#{@question.id.to_s}", "2") %>
      <%= label_tag(:BracketB, @choice.BrB) %>
      <br>
      <%= radio_button_tag("question_#{@question.id.to_s}", "3") %>
      <%= label_tag(:BracketC, @choice.BrC) %>
      <br>
      <%= radio_button_tag("question_#{@question.id.to_s}", "4") %>
      <%= label_tag(:BracketD, @choice.BrD) %>
      <br>
      <%= radio_button_tag("question_#{@question.id.to_s}", "5") %>
      <%= label_tag(:BracketE1, @choice.BrE1) %>
      <br>
      <%= radio_button_tag("question_#{@question.id.to_s}", "6") %>
      <%= label_tag(:BracketE2, @choice.BrE2) %>
      <br>
    <% elsif @question.answer.pick == 2 %>
      <%= radio_button_tag("question_#{@question.id.to_s}", "1") %>
      <%= label_tag(:BracketA, @choice.BrA) %>
      <br>
      <%= radio_button_tag("question_#{@question.id.to_s}", "2", checked: :checked) %>
      <%= label_tag(:BracketB, @choice.BrB) %>
      <br>
      <%= radio_button_tag("question_#{@question.id.to_s}", "3") %>
      <%= label_tag(:BracketC, @choice.BrC) %>
      <br>
      <%= radio_button_tag("question_#{@question.id.to_s}", "4") %>
      <%= label_tag(:BracketD, @choice.BrD) %>
      <br>
      <%= radio_button_tag("question_#{@question.id.to_s}", "5") %>
      <%= label_tag(:BracketE1, @choice.BrE1) %>
      <br>
      <%= radio_button_tag("question_#{@question.id.to_s}", "6") %>
      <%= label_tag(:BracketE2, @choice.BrE2) %>
      <br>
    <% elsif @question.answer.pick == 3 %>
      <%= radio_button_tag("question_#{@question.id.to_s}", "1") %>
      <%= label_tag(:BracketA, @choice.BrA) %>
      <br>
      <%= radio_button_tag("question_#{@question.id.to_s}", "2") %>
      <%= label_tag(:BracketB, @choice.BrB) %>
      <br>
      <%= radio_button_tag("question_#{@question.id.to_s}", "3", checked: :checked) %>
      <%= label_tag(:BracketC, @choice.BrC) %>
      <br>
      <%= radio_button_tag("question_#{@question.id.to_s}", "4") %>
      <%= label_tag(:BracketD, @choice.BrD) %>
      <br>
      <%= radio_button_tag("question_#{@question.id.to_s}", "5") %>
      <%= label_tag(:BracketE1, @choice.BrE1) %>
      <br>
      <%= radio_button_tag("question_#{@question.id.to_s}", "6") %>
      <%= label_tag(:BracketE2, @choice.BrE2) %>
      <br>
    <% elsif @question.answer.pick == 4 %>
      <%= radio_button_tag("question_#{@question.id.to_s}", "1") %>
      <%= label_tag(:BracketA, @choice.BrA) %>
      <br>
      <%= radio_button_tag("question_#{@question.id.to_s}", "2") %>
      <%= label_tag(:BracketB, @choice.BrB) %>
      <br>
      <%= radio_button_tag("question_#{@question.id.to_s}", "3") %>
      <%= label_tag(:BracketC, @choice.BrC) %>
      <br>
      <%= radio_button_tag("question_#{@question.id.to_s}", "4", checked: :checked) %>
      <%= label_tag(:BracketD, @choice.BrD) %>
      <br>
      <%= radio_button_tag("question_#{@question.id.to_s}", "5") %>
      <%= label_tag(:BracketE1, @choice.BrE1) %>
      <br>
      <%= radio_button_tag("question_#{@question.id.to_s}", "6") %>
      <%= label_tag(:BracketE2, @choice.BrE2) %>
      <br>
    <% elsif @question.answer.pick == 5 %>
      <%= radio_button_tag("question_#{@question.id.to_s}", "1") %>
      <%= label_tag(:BracketA, @choice.BrA) %>
      <br>
      <%= radio_button_tag("question_#{@question.id.to_s}", "2") %>
      <%= label_tag(:BracketB, @choice.BrB) %>
      <br>
      <%= radio_button_tag("question_#{@question.id.to_s}", "3") %>
      <%= label_tag(:BracketC, @choice.BrC) %>
      <br>
      <%= radio_button_tag("question_#{@question.id.to_s}", "4") %>
      <%= label_tag(:BracketD, @choice.BrD) %>
      <br>
      <%= radio_button_tag("question_#{@question.id.to_s}", "5", checked: :checked) %>
      <%= label_tag(:BracketE1, @choice.BrE1) %>
      <br>
      <%= radio_button_tag("question_#{@question.id.to_s}", "6") %>
      <%= label_tag(:BracketE2, @choice.BrE2) %>
      <br>
    <% elsif @question.answer.pick == 6 %>
      <%= radio_button_tag("question_#{@question.id.to_s}", "1") %>
      <%= label_tag(:BracketA, @choice.BrA) %>
      <br>
      <%= radio_button_tag("question_#{@question.id.to_s}", "2") %>
      <%= label_tag(:BracketB, @choice.BrB) %>
      <br>
      <%= radio_button_tag("question_#{@question.id.to_s}", "3") %>
      <%= label_tag(:BracketC, @choice.BrC) %>
      <br>
      <%= radio_button_tag("question_#{@question.id.to_s}", "4") %>
      <%= label_tag(:BracketD, @choice.BrD) %>
      <br>
      <%= radio_button_tag("question_#{@question.id.to_s}", "5") %>
      <%= label_tag(:BracketE1, @choice.BrE1) %>
      <br>
      <%= radio_button_tag("question_#{@question.id.to_s}", "6", checked: :checked) %>
      <%= label_tag(:BracketE2, @choice.BrE2) %>
      <br>
    <% end %>
    <%= submit_tag("Edit Answer") %>
  <% end %>
<% else %>
  <%= form_tag({controller: 'answers', action: 'create'}, method: :post) do %>
    <%= radio_button_tag("question_#{@question.id.to_s}", "1") %>
    <%= label_tag(:BracketA, @choice.BrA) %>
    <br>
    <%= radio_button_tag("question_#{@question.id.to_s}", "2") %>
    <%= label_tag(:BracketB, @choice.BrB) %>
    <br>
    <%= radio_button_tag("question_#{@question.id.to_s}", "3") %>
    <%= label_tag(:BracketC, @choice.BrC) %>
    <br>
    <%= radio_button_tag("question_#{@question.id.to_s}", "4") %>
    <%= label_tag(:BracketD, @choice.BrD) %>
    <br>
    <%= radio_button_tag("question_#{@question.id.to_s}", "5") %>
    <%= label_tag(:BracketE1, @choice.BrE1) %>
    <br>
    <%= radio_button_tag("question_#{@question.id.to_s}", "6") %>
    <%= label_tag(:BracketE2, @choice.BrE2) %>
    <br>
    <%= submit_tag("Save Answer") %>
  <% end %>
<% end %>

<% unless @question.answer.nil? %>
  Your Answer: 
  <% if @question.answer.pick == 1 %>
    <%= @question.choices[0].BrA %>
  <% elsif @question.answer.pick == 2 %>
    <%= @question.choices[0].BrB %>
  <% elsif @question.answer.pick == 3 %>
    <%= @question.choices[0].BrC %>
  <% elsif @question.answer.pick == 4 %>
    <%= @question.choices[0].BrD %>
  <% elsif @question.answer.pick == 5 %>
    <%= @question.choices[0].BrE1 %>
  <% elsif @question.answer.pick == 6 %>
    <%= @question.choices[0].BrE2 %>
  <% end %>
<% end %>
<br>

<% if index == 10 %>
  <%= link_to 'View Results', result_session_path(@session) %>
<% else %>
  <%= link_to 'Next', question_session_path(@session, @session.questionIDs[index]) %>
<% end %>