Bracket A: <%= @tally[:BracketA] %><br>
Bracket B: <%= @tally[:BracketB] %><br>
Bracket C: <%= @tally[:BracketC] %><br>
Bracket D: <%= @tally[:BracketD] %><br>
Bracket E1: <%= @tally[:BracketE1] %><br>
Bracket E2: <%= @tally[:BracketE2] %><br>