<% content_for :title, 'Home' %>
<br><br><br><br><br><br><br>
<div class="container" id="homepage_container">
  <div class="row" id="home">

    <div class="col-lg-6 col-lg-offset-3 centerfy">
      <div class="jumbotron" id="homepage_jumbotron">
        
        <div id="STS">
          <strong><h1>STS</h1></strong>
        </div>
        <p><%= link_to 'Apply now!', sessions_path, method: :post, class: 'btn btn-danger btn-lg'%></p>
        <p>Want to add a question? <br><%= link_to 'Submit one now!!!', new_question_path %></p>
        Developed by: Bukluran Team
      </div>
    </div>
  </div>
</div>
