<% content_for :title, 'Home' %>
<!-- <br><br><br><br> -->
<div id="circle_background">
  <img />
  <br><br>
  <div id="sts_heading">
    <h1><strong>STS</strong></h1>
  </div>

  <div id="sts_details">
    <p><%= link_to 'Apply now!', sessions_apply_form_path , class: 'btn btn-warning btn-lg'%></p>
    <p> &nbsp Want to add a question? <br> &nbsp <%= link_to 'Submit one now!!!', new_question_path %></p>
    &nbsp Developed by: Bukluran Team
  </div>

</div>
