<% content_for :title, 'GGWP' %>
<div class="container">
  <div class = "page_margins">
      <div class="result_circle">
        <div class = "center-block">
          <div class = "bracket_row">
            <h1><strong>BRACKET</strong></h1>
          </div>
          <div class = "bracket_letter">
            <h2><strong>A</strong></h2>
          </div>
          <p>
            Because you like anime.
          </p> 
        </div>
      </div>
  </div>
</div>
