<h1>STS Application</h1>

<%= sessions.questions[0].question_body %>

<!-- QUESTION HERE BEBETOTS
<br><br>

<%= radio_button_tag(:question, "1") %>
<%= label_tag(:bracketA, "LOL BRAKET A KA NA") %>
<br>
<%= radio_button_tag(:question, "2") %>
<%= label_tag(:bracketB, "WAW B") %>
<br>
<%= radio_button_tag(:question, "3") %>
<%= label_tag(:bracketC, "NUKS C") %>
<br>
<%= radio_button_tag(:question, "4") %>
<%= label_tag(:bracketD, "D DAW") %>
<br>
<%= radio_button_tag(:question, "5") %>
<%= label_tag(:bracketE, "E") %>
<br>
<%= radio_button_tag(:question, "6") %>
<%= label_tag(:bracketE2, "PANGALAWANG E") %>


<br><br>
 -->
<%= link_to 'NEXT', root_path %>