
<% @session.questions.each do |i| %>
<%= i.question_body %>
<br><br>
  <% i.choices.each do |choice| %>
    <%= radio_button_tag(i.question_body, "1") %>
	<%= label_tag(:bracketA, choice.BrA) %>
	<br>
	<%= radio_button_tag(i.question_body, "2") %>
	<%= label_tag(:bracketB, choice.BrB) %>
	<br>
	<%= radio_button_tag(i.question_body, "3") %>
	<%= label_tag(:bracketC, choice.BrC) %>
	<br>
	<%= radio_button_tag(i.question_body, "4") %>
	<%= label_tag(:bracketD, choice.BrD) %>
	<br>
	<%= radio_button_tag(i.question_body, "5") %>
	<%= label_tag(:bracketE, choice.BrE1) %>
	<br>
	<%= radio_button_tag(i.question_body, "6") %>
	<%= label_tag(:bracketE2, choice.BrE2) %>
	<br>
  <% end %>
  <%= render 'sessions/qform' %>
<% end %>
    