
<% if @question.choices %>
	<% @question.choices.each do |choice| %>
	   <br>
		Bracket A: <%= choice.BrA %><br>
		Bracket B: <%= choice.BrB %><br>
		Bracket C: <%= choice.BrC %><br>
		Bracket D: <%= choice.BrD %><br>
		Bracket E1: <%= choice.BrE1 %><br>
		Bracket E2: <%= choice.BrE2 %><br>
	<% end %>
<% end %>