<% if !@question.choices.any? %>
	<%= form_for :choice, url: question_choices_path(@question) do |f| %>
		<p>
			Enter choices:
			<br>
			&nbsp; &nbsp; Bracket A: 
			<br>
			&nbsp; &nbsp; <%= f.text_field :BrA %>
			<br>
			&nbsp; &nbsp; Bracket B: 
			<br>
			&nbsp; &nbsp; <%= f.text_field :BrB %>
			<br>
			&nbsp; &nbsp; Bracket C: 
			<br>
			&nbsp; &nbsp; <%= f.text_field :BrC %>
			<br>
			&nbsp; &nbsp; Bracket D: 
			<br>
			&nbsp; &nbsp; <%= f.text_field :BrD %>
			<br>
			&nbsp; &nbsp; Bracket E1: 
			<br>
			&nbsp; &nbsp; <%= f.text_field :BrE1 %>
			<br>
			&nbsp; &nbsp; Bracket E2: 
			<br>
			&nbsp; &nbsp; <%= f.text_field :BrE2 %>
		</p>

		<p>
			<%= f.submit  'Submit', class: 'btn btn-warning btn-lg' %>
		</p>

	<% end %>
<% end %>