<%= form_for :question, url: questions_path do |f| %>
	<p>
		Enter Question here:
		<br>
		<%= f.text_area :question_body %>
	</p>

	<p>
		<%= f.submit %>
	</p>
<% end %>

<%#= render 'choices/form' %>