// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// red - c5000f(STS), BG red - a0000c, orange: f3a612,blue: 3498db 

body
  background-color: #A0000C

a
  &:link
    color: #A00000

  &:visited
    color: #A00000

  &:hover
    color: #000000

  &:active
    color: #A00000

h1
  font-family: "Helvetica"
  // font-size-adjust: 100px
  // font-size: 0px
  font-weight: bold

#circle_background
  //-moz-border-radius: 450x/450px
  //-webkit-border-radius: 450px 450px
  border-radius: 450px/450px
  border: solid 21px #FFFFFF
  width: 450px
  height: 450px
  margin: 100px auto
  background-color: #FFFFFF
  text-align: center

#sts_heading
  h1
    font-family: "Lato Black", sans serif
    font-size: 160px
    font-weight: bold
    color: #C5000F
    margin: 0 auto

#sts_details
  font-family: "Lato Light", sans serif
  font-size: 18px
  margin: 0 auto

  a
    &:link
      color: #3498DB

    &:visited
      color: #3498DB

    &:hover
      color: #3498DB

    &:active
      color: #3498DB

  a.btn
    opacity: 1.0

    &:link
      color: #FFFFFF

    &:visited
      color: #FFFFFF

    &:hover
      color: #FFFFFF

    &:active
      color: #FFFFFF

//#submit_question_jumbotron
  opacity: 1.0
  //margin-top: 100px
  //margin-left: 50px
  //margin: 0 auto
  //font-family: "Lato Black", sans serif

  //h1
    //font-size: 40px
    //font-weight: bold
    //color: #C5000F  

#submit_question_container
  max-width: 700px
  opacity: 1.0
  font-family: "Lato Black", sans serif
  margin-top: 100px
  margin-right: 200px

#submit_question_title
  font-size: 300%
  color: #C5000F

div.submit_question_bilog
  background-color: #FFFFFF
  border-radius: 20px
  border: solid 30px #FFFFFF
  margin-left: 25%
  margin-top: 10%
  width: 700px
  height: 300px
  font-family: "Lato Black", sans serif
  
  a.btn
    &:link
      color: #FFFFFF

    &:visited
      color: #FFFFFF

    &:hover
      color: #FFFFFF

    &:active
      color: #FFFFFF

div.page_margins
  margin-top: 4%
  margin-left: 4%
  margin-right: 4%
  width: 60%
  height: 50%

div.choices_box
  background-color: #FFFFFF
  border-radius: 20px 
  border: solid 10px #FFFFFF

  a.btn
    &:link
      color: #FFFFFF

    &:visited
      color: #FFFFFF

    &:hover
      color: #FFFFFF

    &:active
      color: #FFFFFF

textarea
  height: 30%
  width: 90%
  resize: none
  
#homepage_container
  background-image: url("/assets/up.png")
  background-repeat: no-repeat
  background-attachment: fixed
  background-position: center center

#result
  margin: 0 auto
  border: 5px solid #A00000

  h1
    font-family: "Monospace"
    font-size: 60px
    text-align: center

  h2
    font-family: "Helvetica"
    font-size: 500px
    text-align: center

#STS
  h1
    font-family: "Helvetica"
    font-size: 100px
    color: #C5000F

#devpool
  font-family: monospace

#homepage_jumbotron
  margin: 0 auto
  text-align: center
  border: 7px solid #F3A612
  vertical-align: middle

.jumbotron
  opacity: 0.8

  a.btn
    opacity: 1.0

    &:link
      color: #FFFFFF

    &:visited
      color: #FFFFFF

    &:hover
      color: #FFFFFF

    &:active
      color: #FFFFFF

div.result_circle
  border-radius: 450px/450px
  background-color: #FFFFFF
  margin-left: 20%
  height: 800px
  width: 800px
  text-align: center

  p
    font-size: 200%

div.bracket_row
  padding-top: 2%

  h1
    color: #C5000F

div.bracket_letter
  height: 550px

  h2
    color: #C5000F
    font-size: 4000%
    position: relative
    top: -50px
    left: -2px

